<h1>Mails</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Mailer</th>
      <th>Mailer Method</th>
      <th>Request Date</th>
      <th>Last Update</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @requests.each do |request| %>
    <tr>
      <td><%=request.mailer %></td>
      <td>
        <%=request.mailer_method %>
        <% if !request.sent? %>
          <%=link_to('pause all', pause_all_email_request_path(request)) unless request.paused?%> &nbsp;
          <%=link_to('retry all', retry_all_email_request_path(request)) %>
        <% end %>
      </td>
      <td><%=time_ago_in_words(request.created_at) %> ago</td>
      <td><%=time_ago_in_words(request.updated_at) %> ago</td>
      <td><%=request.status %></td>
      <td>
        <% if !request.sent? %>
          <%=link_to('pause', pause_email_request_path(request)) unless request.paused? %>&nbsp;
          <%=link_to 'retry', retry_email_request_path(request) %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if @pagination %>
  <%=link_to '< prev', @pagination.prev_page_url if @pagination.prev_page_url%>&nbsp;
  <%=link_to 'next >', @pagination.next_page_url if @pagination.next_page_url%> 
<% end %>
